{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ team.name }} Players </h1>
			This team can only be add/edited/deleted by {{creator.name}}
		</div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							 <li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>
		{% if 'username' in session %}
		<div class="row row-eq-height">
			<div class="col-md-1"></div>
			<div class="col-md-1">
				<a href="{{url_for('newPlayer', team_id = team.id)}}">
				<button class="btn add btn-default" id="new-player">
					<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Add New Player
				</button>
				</a>
			</div>
			<div class="col-md-10"></div>
		</div>
		{% endif %}
			
	{% if players !=[] %}		
					{% for i in players %}
					<div class="row row-eq-height">
						<div class="col-md-1"></div>
						<div class="col-md-6 team-list">
							<h3>{{i.name}}</h3>			
						</div>
	      			 {% if 'username' in session %}
	      			 <div class="col-md-1 team-list">
		 				<a href="{{url_for('editPlayer', player_id = i.id, team_id = team.id )}}"><h4>Edit</h4></a>
		 			 </div>
		 			 <div class="col-md-1 team-list">
		 				<a href="{{url_for('deletePlayer', player_id = i.id, team_id = team.id)}}"><h4>Delete</h4></a>
		 			 </div>
		 			 <div class="col-md-3"></div>
		 			 {% endif %}
		 			</div>
					{% endfor %}
			
			
	{% endif %}
{% endblock %}